<%- include("partials/header") %>
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!--Font Awesome-->
    <!--Font Awesome-->
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.12.1/css/all.css"
      integrity="sha384-v8BU367qNbs/aIZIxuivaU55N5GPF89WBerHoGA4QTcbUjYiLQtKdrfXnqAcXyTv"
      crossorigin="anonymous"
    />

    <title>MQC inc.</title>
    <link rel="stylesheet" type="text/css" href="/sylesheets/style.css" />
  </head>

  <body>
    <?php include(ROOT_PATH . "/app/includes/header.php"); ?>
    <!--- Jumbotron -->
    <div class="container-fluid">
      <div class="row jumbotron">
        <div class="col-xs-12 col-sm-12 col-md-9 col-xl-10">
          <p class="lead">
            We make annual appointments with our engineers, technicians, carpent
            we make sure you are satisfied. we are here to help you grow as we
            grow together It is a win win for all!!
          </p>
          <p class="lead">
            We make annual appointments with our engineers, technicians, carpent
            we make sure you are satisfied. we are here to help you grow as we
            grow together It is a win win for all!!
          </p>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-2">
          <a class="btn btn-primary btn-lg" href="/campgrounds/new">
            visit our projects</a
          >
        </div>
      </div>
    </div>
    <hr class="my-4" />

    <!--- Welcome Section -->
    <div class="container-fluid padding">
      <div class="row welcome text-center">
        <div class="col-12">
          <h1>Built with ease</h1>
          <hr class="my-4" />
          <div class="col-12">
            <p class="lead">
              welcome to our company website we are a free and open source of
              information for your estamation, analysis and evalution in any
              building type ( industrial, residential, commortial etc)
            </p>
          </div>
        </div>
      </div>
    </div>

    <!--- Three Column Section -->
    <div class="container-fluid padding">
      <div class="row text-center padding">
        <div class="col-xs-12 col-sm-6 col-md-4">
          <i
            class="fas fa-home"
            style="font-size: 8em; margin: 1rem; color: #e54d26; width: 100%;"
          ></i>
          <h3>residential</h3>
          <p>
            estimation analys, prevation, building for your bath rooms chitchin,
            salon
          </p>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <i
            class="fas fa-industry"
            style="font-size: 8em; margin: 1rem; color: #565656; width: 100%;"
          ></i>
          <h3>Idustrial</h3>
          <p>
            estimation analys, prevation, building for your bath rooms mezanin,
            working area
          </p>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <i
            class="fas fa-building"
            style="font-size: 8em; margin: 1rem; color: #2163af; width: 100%;"
          ></i>
          <h3>Commercial</h3>
          <p>
            estimation analys, prevation, building for your bath rooms chitchin,
            salon
          </p>
        </div>
      </div>
      <hr class="my-4" />
    </div>

    <!--- Two Column Section -->
    <div class="container-fluid padding">
      <div class="row padding">
        <div class="col-md-12 col-lg-6">
          <h2>if you want us ....</h2>
          <p>
            How many Saturdays have you spent trying to complete a 'simple' home
            repair? And how many trips did it take to the hardware store for the
            right tool, the right part, or some how-to advice? There has to be a
            better way. It was this experience, played out over many weekends,
            that led Jim Kupczak to develop RMS. Our premise is simple: It's
            cheaper to proactively maintain a home than it is to replace
            severely damaged components. As home systems become increasingly
            complex, most homeowners don’t have the knowledge, or the time, for
            proper maintenance.We make annual appointments with our doctors,
            dentists and optometrists and we take our vehicles for service every
            3 months. Don't our homes deserve the same care and attention?
          </p>
          <br />
          <a href="index.php" class="btn btn-primary"> Learn more</a>
        </div>
        <div class="col-lg-6">
          <img src="/img/p4.png" class="img-fluid" />
        </div>
      </div>
    </div>
    <hr class="my-4" />
    <!--contact us two column -->

    <!--- Fixed background -->
    <figure>
      <div class="fixed-wrap">
        <div id="fixed"></div>
      </div>
    </figure>

    <!-- Jquery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Custom Script-->
    <script src="assets/js/script.js"></script>
  </body>
  <%- include("partials/footer") %>
</html>
