<%- include("partials/header") %>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.12.1/css/all.css"
      integrity="sha384-v8BU367qNbs/aIZIxuivaU55N5GPF89WBerHoGA4QTcbUjYiLQtKdrfXnqAcXyTv"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/service.css" />

    <title>MQC inc.</title>
    
  </head>

  <body>
    
    <div class="showcase">
      <div class="content">
        <img src="/img/logo_final.jpg" class="logo" alt="MQc inc" />
        <div class="title">
          Welcome To MQC construction inc.
        </div>
        <div class="text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione,
          quidem.
        </div>
      </div>
    </div>
    <!---       services-->
    <section class="services">
      <div class="container grid-3 center">
        <div>
          <i class="fas fa-home fa-4x"></i>
          <h3>Resedential</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa
            voluptas blanditiis earum officiis ipsum ex, ducimus illum
            voluptates eligendi quas.
          </p>
        </div>
        <div>
          <i class="fas fa-building fa-4x"></i>
          <h3>Commercial</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa
            voluptas blanditiis earum officiis ipsum ex, ducimus illum
            voluptates eligendi quas.
          </p>
        </div>
        <div>
          <i class="fas fa-industry fa-4x"></i>
          <h3>Industrial</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa
            voluptas blanditiis earum officiis ipsum ex, ducimus illum
            voluptates eligendi quas.
          </p>
        </div>
      </div>
    </section>
    <section class="about bg-light">
      <div class="container">
        <div class="grid-2">
          <div class="center">
            <i class="fas fa-building fa-10x"></i>
          </div>
          <div>
            <h3>About us</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum
              soluta quaerat ducimus maiores vero eius nobis est laboriosam
              dicta? Ea nisi et rem, sint ratione nobis! Atque nostrum repellat,
              aspernatur harum quis pariatur, itaque exercitationem tempore
              aperiam odit laborum quo?
            </p>
          </div>
        </div>
      </div>
    </section>
    <section class="about bg-dark">
      <div class="container">
        <div class="grid-22">
          <div>
            <h3>our philosophy</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum
              soluta quaerat ducimus maiores vero eius nobis est laboriosam
              dicta? Ea nisi et rem, sint ratione nobis! Atque nostrum repellat,
              aspernatur harum quis pariatur, itaque exercitationem tempore
              aperiam odit laborum quo?
            </p>
          </div>
          <div class="center1">
            <img src="/img/p4.png" />
          </div>
        </div>
      </div>
    </section>
    <!--footer-->
  

   
       
    </div>
  <%- include("partials/footer") %>
    <!-- Jquery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Custom Script-->
    <script src="assets/js/script.js"></script>
  </body>
</html>
