.navbar-default {
  background: #303036;
  color: white;
}
.nav-color {
  color: white;
}

#navbar {
  color: white;
}

.thumbnail img {
  width: 100%;
}
.thumbnail {
  padding: 0;
}
.thumbnail .caption-full {
  padding: 9px;
}
.delete-form {
  display: inline;
}
#img2 {
  width: 100px;
  height: 70px;
}
#img1 {
  width: 80px;
  height: 35px;
}
